In [ ]:
days=["Monday","tuesday","wednesday","thursday","friday","saturday"]

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
max(numbers)

8

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
min(numbers)

1

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
sum(numbers)

36

In [ ]:
import random
numbers=[1,2,3,4,5,6,7,8]
random.shuffle(numbers)
print(numbers)

[8, 4, 7, 3, 6, 1, 2, 5]

In [ ]:
#examples on operator.
a=[1,2,3]
b=[4,5,6]
c=a+b

In [ ]:
a=[10,20]
b=3*a
print(b)

[10, 20, 10, 20, 10, 20]

In [ ]:
days=["Monday","tuesday","wednesday","thursday","friday","saturday"]
"wednesday" in days

True

In [ ]:
days=["Monday","tuesday","wednesday","thursday","friday","saturday"]
"wednesday" not in days

False

In [ ]:
days=["Monday","tuesday","wednesday","thursday","friday","saturday"]
del[days[1]]
days

['Monday', 'wednesday', 'thursday', 'friday', 'saturday']

In [ ]:
a=["a","b","c","d"]
print(a)
a.append("e")
print(a)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [ ]:
list=["red","orange","pink","black"]
print(list)
list.clear()
print(list)

['red', 'orange', 'pink', 'black']
[]

In [ ]:
list_1=[1,2,3,4]
print(list_1)
list_2=list_1.copy()
print(list_2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
A=[1,2,3,4,5]
B=[5,6,7,3,6]
print(A)
print(B)
A.extend(B)
print(A)

[1, 2, 3, 4, 5]
[5, 6, 7, 3, 6]
[1, 2, 3, 4, 5, 5, 6, 7, 3, 6]

In [ ]:
#creating tulpe with single element:
a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [ ]:
#creating tuple with integers
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [ ]:
b=(6.5,5.9,2.0)
print(b)

(6.5, 5.9, 2.0)

In [ ]:
#creating tuple with string
c=("1,")

In [ ]:
#creating tuple multiple data types
mix=("hello",708,66.8,1,2)
mix

('hello', 708, 66.8, 1, 2)

In [ ]:
#create a dictionary
a={
    "name":"Usha J C",
    "age":23,
    "education":"Engineer"

}
print(a)

{'name': 'Usha J C', 'age': 23, 'education': 'Engineer'}

In [ ]:
x=a.keys()

In [ ]:
z=a.items()
z

dict_items([('name', 'Usha J C'), ('age', 23), ('education', 'Engineer')])

In [ ]:
#Example:
set1={1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [ ]:
3 duplicates not allowed
set={1,2,3,4,5,6,7}

In [ ]:
def add()
  a=2
  b=3
  sum=a+b
return sum
add()
print(add())

SyntaxError: expected ':' (<ipython-input-27-e3fe3a10fc53>, line 1)